@media (max-width: 1200px)
	/* от 992px до 1200px */
	.container
		max-width: 940px
	.cloud

		&__image
			margin-right: 0
	.features
		&__item
			margin-right: 15px
		&:last-child
			margin-right: 0
		&__card
			max-width: 275px
@media (max-width: 991px)
	/* от 768px до 992px */
	.container
		max-width: 730px
	.cloud
		&__descr
			max-width: 349px
		&__image
			flex-basis: 50%
		&__img
			position: relative
			z-index: 1
		&__btn
			position: absolute
			left: 50%
			transform: translateX(-50%)
			width: 66px
			height: 66px
			border-radius: 100%
			background: $link-color
			z-index: 2
		i
			position: absolute
			top: 50%
			left: 54%
			transform: translate(-50%,-50%)
			color: #FFFFFF
			font-size: 18px

	.features

		&__inner
			// flex-direction: column
			// align-items: center
		&__item

		&__img
		&__card
			padding: 33px 14px 25px
			top: 98%
			border-radius: 0 0 8px 8px
@media (max-width: 767px)
	// от 576px до 768px
	.container
		max-width: 520px
	.cloud
		// padding-top: 0
		&__wrapper
			height: 100vh
			flex-direction: column
			align-items: center
			animation: moveInLeftAll 1s
		&__descr
			max-width: 90%
			margin-top: 0
		&__image
			margin-top: 35px
	.features
		padding-top: 100px
		&__heading
			// animation: moveOpacity 6s

		&__inner
			display: block
		&__item
			display: flex
			justify-content: space-between
			max-width: 100%
			max-height: 185.72px
			margin: 30px 0 0
			animation-name: none!important
		&__img
			position: static
			width: 50%
			z-index: 0
			box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1)
		&__card
			position: static
			transform: translateX(-1%)
			width: 50%
			min-height: 180.36px
			border-radius: 0 8px 8px 0
			z-index: 0
			box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1)
		@keyframes moveInLeftAll

			0%
				opacity: 0
				transform: translateY(100%)

			100%
				opacity: 1
				transform: translate(0)
		@keyframes moveOpacity

			0%
				opacity: 0

			100%
				opacity: 1
@media (max-width: 575px)
	// от 320px до 576px
	.container
		max-width: 300px
	.cloud
		padding: 30px 0 80px
		&__descr
			max-width: 100%
			padding-top: 0
		&__descr
		&__image
			margin-top: 0
	.features

		&__item
			flex-direction: column
			max-height: 100%
		&__img
			width: 100%
		&__card
			transform: translateY(-2%)
			max-width: 300px
			width: 100%
			border-radius: 0 0 8px 8px
			z-index: 1
